table.moduleVersions tr {
    cursor: pointer;
}

p.buttons {
    padding-top: 1em;
    margin-bottom: 0px;
}

table.moduleVersions tr:hover td, table.moduleVersions tr.even:hover td {
    background-color: #ff0;
}

body.moduleVersion div#groovyVersions td.version {
    width: 100%;
}

body.module div#moduleVersions td.version {
    width: 100%;
}

.added a, .removed a {
    color: white;
}

.error ul {
    margin-bottom: 0em;
}